.App {
  position: relative;
  overflow-x: clip;
}

.App > :nth-child(1) {
  background-color: var(--black);
  position: relative;
}

.white-gradient {
  margin-top: 8rem;
  position: absolute;
  width: 12rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}
